[submodule "libyang"]
	path = libyang
	url = ../../github/CESNET/libyang
[submodule "sysrepo"]
	path = sysrepo
	url = ../../github/sysrepo/sysrepo
[submodule "Netopeer2"]
	path = Netopeer2
	url = ../../github/CESNET/Netopeer2
[submodule "libnetconf2"]
	path = libnetconf2
	url = ../../github/CESNET/libnetconf2
[submodule "libredblack"]
	path = libredblack
	url = ../../github/sysrepo/libredblack
[submodule "docopt.cpp"]
	path = docopt.cpp
	url = ../../github/docopt/docopt.cpp
[submodule "Catch"]
	path = Catch
	url = ../../github/philsquared/Catch
[submodule "spdlog"]
	path = spdlog
	url = ../../github/gabime/spdlog/
[submodule "trompeloeil"]
	path = trompeloeil
	url = ../../github/rollbear/trompeloeil
[submodule "replxx"]
	path = replxx
	url = ../../github/AmokHuginnsson/replxx
[submodule "doctest"]
	path = doctest
	url = ../../github/onqtam/doctest
