[submodule "libyang"]
	path = libyang
	url = ../../github/CESNET/libyang
[submodule "sysrepo"]
	path = sysrepo
	url = ../../github/sysrepo/sysrepo
[submodule "Netopeer2"]
	path = Netopeer2
	url = ../../github/CESNET/Netopeer2
[submodule "libnetconf2"]
	path = libnetconf2
	url = ../../github/CESNET/libnetconf2
[submodule "docopt.cpp"]
	path = docopt.cpp
	url = ../../github/docopt/docopt.cpp
[submodule "trompeloeil"]
	path = trompeloeil
	url = ../../github/rollbear/trompeloeil
[submodule "replxx"]
	path = replxx
	url = ../../github/AmokHuginnsson/replxx
[submodule "doctest"]
	path = doctest
	url = ../../github/onqtam/doctest
[submodule "cppcodec"]
	path = cppcodec
	url = ../../github/tplgy/cppcodec
[submodule "sdbus-cpp"]
	path = sdbus-cpp
	url = ../../github/Kistler-Group/sdbus-cpp
[submodule "libyang-cpp"]
	path = libyang-cpp
	url = ../../CzechLight/libyang-cpp
[submodule "sysrepo-cpp"]
	path = sysrepo-cpp
	url = ../../CzechLight/sysrepo-cpp
[submodule "libnetconf2-cpp"]
	path = libnetconf2-cpp
	url = ../../CzechLight/libnetconf2-cpp
